<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>EasyAdmin8</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="static/plugs/layui-v2.8.x/css/layui.css?v={time()}" media="all">
    <link rel="stylesheet" href="static/common/css/insatll.css?v={time()}" media="all">
</head>
<style>
    h1 a {
        color: #0A58A6;
        font-size: 2.5rem;
    }

    h3 a {
        color: #0E9C68;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 0 20px;
    }
</style>
<body>
<div style="text-align: center;padding-top:12%;">
    <h1><a href="https://easyadmin8.top" target="_blank">EasyAdmin8</a></h1>
    <br>
    <br>
    <h3>
        <a href="https://gitee.com/wolf18/EasyAdmin8-webman/tree/thinkphp/" target="_blank">查看文档</a>
        <a href="{$adminUrl}">访问后台</a>
    </h3>
</div>
</body>
</html>